.navbar{ background:grey;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important; color:#f4f4f4 }
.nav-link:hover{ background: lightblue; color: grey; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important; }
.navbar-toggler-icon {color: orange !important;}

a {
  color: #f8f8f8 !important;
}

h3, h1 {
  font-family:"Source Sans Pro",sans-serif;
  font-weight: 900;
  text-shadow: 1px 1px grey;
}

.firstSection {
  margin-top: 3.5rem;
  text-align: center;
  color: #F8F8F8;
  padding-bottom: .3rem;
}

.buttonStyle {
  font-size: 1.5em;
  font-weight: 900;
  border-radius: 25px;
  border-color: navy;
  box-shadow: 1px 1px grey;
  background-color:navy;
  color: white;
  padding: .5rem 2rem
}

i {
  color: #5C93CE;
}

.iconStyle {
  text-align: center;
  font-size: 4em;
}

.organizerSection {
  /*background-color: #p1p8p8;*/
}

.sponsorSection {
  /*background-color: #a6d8f8;*/
}

.detailsSection {
  /*background-color: #e2e2f2;*/
}

.detailsSection, .sponsorSection, .organizerSection, .firstSection {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

nav {
  /*background-color: #8f13d8 !important;*/
  background-color: #5C93CE !important;
}

footer {
  text-align: center;
  border-top-style: solid;
  border-top-color: #5C93CE;
  border-top-width: .1px;
  color: #8f13d8;
  font-weight: 900;
}

.card-header {
  text-align: center;
  background-color: #5C93CE !important;
  color: #f8f8f8;
}

.card-body {
  text-align: center;
}

.firstSection {
  background:url(assets/fist-bump.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}


