/*make the nav and first section background pic seem like they run together*/
nav {
  margin-bottom: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*make all headers the same fonts and family with a small shadow*/
h3, h1, h5 {
  font-family:"Source Sans Pro",sans-serif;
  font-weight: 900;
  text-shadow: 1px 1px grey;
}

/*center the section heading*/
h3 {
    text-align: center;
}
/*CSS for the sign up section. Affect the section margin, background picture, and text */
.firstSection {
  /*padding-top: 6rem;*/
  text-align: center;
  color: #F8F8F8;
  padding-top: 2rem;
  padding-bottom: 2rem;

  /*Add a pic to the background*/
  /*Found tip to darken background pic @ https://stackoverflow.com/questions/26621513/darken-css-background-image*/
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(assets/fist-bump.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*CSS for the sign up button*/
.buttonStyle {
  font-size: 1.5em;
  font-weight: 900;
  border-radius: 25px;
  border-color: navy;
  box-shadow: 1px 1px grey;
  background-color:navy;
  color: white;
  padding: .5rem 2rem;
  margin: 10px; /*space between button and prizes*/
}

/*CSS for the icons in the project. Setting a light blue color and text styles*/
i {
  color: #5C93CE;
}

.iconStyle {
  text-align: center;
  font-size: 4em;
}

/*CSS for all main's section (sponsor, details, and organizer)*/
.spaceBetweenSections{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/*CSS for the footer section foccus on the border line above it and the text(simliar to the headers)*/
footer {
  text-align: center;
  border-top-style: solid;
  border-top-color: #5C93CE;
  border-top-width: .1px;
  color: #8f13d8;
  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*CSS for the card used in the Details section for the schedule*/
.cardSchedule, nav {
  text-align: center;
  background-color: #5C93CE !important;
  color: #f8f8f8;
}

.card-body, h5 {
  text-align: center;
}

/*CSS for the current sponsor section inside the Sponsor section*/
.sponsorTitle {
  color: #5C93CE;
  font-weight: 900;
  font-family:"Source Sans Pro",sans-serif;
}

span {
    color: navy;
}

.prizes {
  font-weight: 900;
  color: #F8F8F8;
  font-size: 1em;
  font-family:"Source Sans Pro",sans-serif;
  text-shadow: 1.5px 1px grey;
}
